.task
  display: flex
  align-items: center
  width: 100%
  background: #ffffff
  box-shadow: 0 0 5px rgba(0,0,0,0.1)
  margin-bottom: 10px
.task__image 
  background: red
  margin-left: 30px
  margin-right: 30px
  width: 55px
  height: 55px
  border-radius: 50%
.more_vert-icon 
  color: gray 
  margin-left: auto
