<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="example-sidenav__logo">
        <img class="example-sidenav__logo_img" src="../../../assets/logo.png" alt="ToDo">
        <h3>ToDo</h3>
      </div>
      <div class="example-sidenav__link-block">
        <a routerLink="/" class="example-sidenav__link">
          <i class="material-icons home-icon">
            home
          </i>
          Home
        </a>
      </div>
      <div class="example-sidenav__link-block">
        <a href="/" class="example-sidenav__link">
          <i class="material-icons settings_applications-icon">
            settings_applications
          </i>
          Settings
        </a>
      </div>
    </mat-drawer>
    <mat-toolbar class="example-container__toolbar">
      <button class="example-container__toolbar_button" mat-button (click)="drawer.toggle(); leftArrow = !leftArrow">
        <i *ngIf="!leftArrow" class="material-icons chevron_left">
          chevron_left
        </i>
        <i class="material-icons">
          menu
        </i>
      </button>
      <div class="example-container__toolbar_right-block">
        <button class="example-container__toolbar_button">
          <i class="material-icons filter_list">
              filter_list
          </i>
        </button>
        <button class="example-container__toolbar_button" (click)='filterByAlph()'>
          <i class="material-icons">
            sort_by_alpha
          </i>
        </button>
        <button class="example-sidenav__button_add" mat-raised-button (click)="openDialog()">
          <i class="material-icons add-icon">
            add
          </i>
          Add ToDo
        </button>
        <div class="profile-image">  
        </div>
        <button class="example-container__toolbar_button">
          <i class="material-icons keyboard_arrow_down">
            keyboard_arrow_down
          </i>
        </button>
      </div>
    </mat-toolbar>
    <div class="example-sidenav-content">
      <h2 class="example-sidenav-content__todo-headline">To Do ({{tasksQuantity}})</h2>
      <app-tasks [name]='item.name' [text]='item.text' *ngFor="let item of itemsActive" [date]='item.date'></app-tasks>
      <h2 class="example-sidenav-content__todo-headline">Completed ({{completedQuantity}})</h2>
      <app-tasks [name]='item.name' [text]='item.text' *ngFor="let item of itemsCompleted" [date]='item.date'></app-tasks>
    </div>
</mat-drawer-container>


  
